/* Hidden State */

.hidden{

    opacity:0;

    transform:translateY(80px);

    transition:all .8s ease;

}

/* Visible State */

.show{

    opacity:1;

    transform:translateY(0);

}
section{

    opacity:0;

    transform:translateY(50px);

    transition:all .8s ease;

}

section.show{

    opacity:1;

    transform:translateY(0);

}