.contact{
    padding:100px 0;
}

.contact-form{
    max-width:700px;
    margin:60px auto 0;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{

    background:var(--surface);

    border:1px solid var(--border);

    outline:none;

    padding:18px;

    border-radius:14px;

    color:var(--text);
}

.contact-form textarea{
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 3px rgba(0,174,239,.12);

    transition:.3s ease;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{

    color:var(--text-secondary);
}