.experience{

    padding:100px 0;

}

.timeline{

    position:relative;

    margin-top:60px;

    max-width:900px;

    margin-inline:auto;

}

.timeline::before{

    content:"";

    position:absolute;

    left:20px;

    top:0;

    width:4px;

    height:100%;

    background:var(--primary);

}

.timeline-item{

    position:relative;

    padding-left:70px;

    margin-bottom:50px;

}

.timeline-dot{

    position:absolute;

    left:10px;

    top:8px;

    width:24px;

    height:24px;

    border-radius:50%;

    background:var(--primary);

    border:4px solid var(--background);
}

.timeline-content{
    background:var(--surface);
    backdrop-filter:blur(12px);
    padding:25px;
    border-radius:18px;
    border:1px solid var(--border);
    transition:.3s;
    box-shadow:var(--shadow);
}

.timeline-content:hover{

    transform:translateX(10px);

}

.timeline-content span{

    color:var(--primary);

    font-weight:600;

}

.timeline-content h3{

    margin:10px 0;

}

.timeline-content p{
    color:var(--text-secondary);
    line-height:1.8;
}