.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:120px 8%;

    position:relative;

    overflow:hidden;

}

/* Background Glow */

.hero::before{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    background:#00AEEF;

    border-radius:50%;

    filter:blur(180px);

    opacity:.15;

    top:-150px;

    left:-120px;

}

.hero::after{

    content:"";

    position:absolute;

    width:400px;

    height:400px;

    background:#0085FF;

    border-radius:50%;

    filter:blur(170px);

    opacity:.18;

    bottom:-150px;

    right:-120px;

}

/* Hero Text */

.hero-text{

    width:55%;

    z-index:10;

}

.welcome{

    color:#00AEEF;

    font-size:22px;

    margin-bottom:20px;

}

.hero h1{

    font-size:75px;

    line-height:90px;

    margin-bottom:20px;

}

.hero h2{

    color:#00AEEF;

    font-size:35px;

    height:45px;

    margin-bottom:25px;

}

.description{

    color:#b7c7d6;

    line-height:2;

    width:90%;

}

/* Buttons */

.buttons{

    display:flex;

    gap:20px;

    margin-top:45px;

}

.btn{

    padding:16px 35px;

    border-radius:50px;

    transition:.35s;

    font-weight:600;

}

.primary{

    background:#00AEEF;

    color:white;

    box-shadow:0 0 25px rgba(0,174,239,.5);

}

.primary:hover{

    transform:translateY(-6px);

    box-shadow:0 0 45px rgba(0,174,239,.9);

}

.secondary{

    border:2px solid #00AEEF;

    color:#00AEEF;

}

.secondary:hover{

    background:#00AEEF;

    color:white;

}

/* Image */

.hero-image{

    z-index:10;

}

.hero-image img{

    width:380px;

    border-radius:50%;

    border:8px solid #00AEEF;

    box-shadow:0 0 50px rgba(0,174,239,.45);

    animation:floatImage 5s ease-in-out infinite;

}