@media (max-width:900px){

.hero-container{

    grid-template-columns:1fr;

    text-align:center;

}

.hero-image{

    order:-1;

}

.hero-buttons{

    justify-content:center;

}

.social-links{

    justify-content:center;

}

.hero-content h1{

    font-size:48px;

}

}

.timeline::before{

    left:15px;

}

.timeline-item{

    padding-left:55px;

}