@media(max-width:900px){

    .hero{

        flex-direction:column-reverse;

        justify-content:center;

        text-align:center;

        gap:50px;

    }

    .hero-text{

        width:100%;

    }

    .description{

        width:100%;

    }

    .hero-image img{

        width:260px;

    }

    .nav-links{

        display:none;

    }

    .menu-toggle{

        display:block;

    }

}
.about-container{

    grid-template-columns:1fr;

}

.about-cards{

    grid-template-columns:1fr;

}
.skills-grid{

    grid-template-columns:1fr;

}
.project-card{

    grid-template-columns:1fr;

}

.project-image{

    height:220px;

}