
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text);

}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

section{

    width:100%;
    min-height:100vh;

}


section{

    padding-top:100px;

    padding-bottom:100px;

}

.section-title h2{

    font-size:46px;

    font-weight:700;

    margin-bottom:12px;

}

.section-title p{

    color:var(--text-secondary);

    font-size:18px;
}